<section class="main">
    <div class="container clearfix">
        <div class="slider-main"
             ng-class="{
                 'single-mode': (currentQuadrator.mode == 0) || zoomedCamera,
                 'two-mode':  (currentQuadrator.mode == 1) && !zoomedCamera,
                 'four-mode':  (currentQuadrator.mode == 2) && !zoomedCamera,
                 'many-mode':  (currentQuadrator.mode == 3) && !zoomedCamera,
                 'five-mode':  (currentQuadrator.mode == 4) && !zoomedCamera
             }">
            <div ng-repeat="(index, camera) in currentQuadrator.cameras track by $index"
                 class="camera-stream-container"
                 ng-class="{active: camera.showedCategories}"
                 ng-if="!zoomedCamera || (zoomedCamera == camera)"
            >
                <div ng-include="'/static/templates/elements/categories.html'"></div>

                <div class="camera-preview-container with-video"
                     ng-class="{
                        'camera-alert': camera.alert,
                        'paused': camera.video.paused,
                        'loaded-meta': camera.loadedmetadata && !camera.loadedmetaerror
                    }">
                    <div class="video-container" ng-video="camera"></div>
                    <div class="camera-mask-pause-play"
                         ng-click="startStopVideos()"
                    ></div>

                    <div class="bubblingG" ng-if="!camera.loadedVideo">
                        <span class="bubblingG_1"></span>
                        <span class="bubblingG_2"></span>
                        <span class="bubblingG_3"></span>
                    </div>
                    <span class="load-meta-error" ng-if="camera.loadedmetaerror">
                        Не удалось загрузить файл
                    </span>
                </div>
            </div>

            <div class="search-new-video" ng-if="searchNextVideo && withAnalysis">
                Выполняется поиск подходящего видео: {{ searchDate | date : 'dd.MM.yyyy HH:mm' }}<br/>
                <button class="stop-search-moment" ng-click="stopSearch()">остановить поиск</button>
            </div>
        </div>
        <div class="slider-main-tools">
            <a ui-sref="main.base.records" class="btn-tools">< К таблице событий</a>
            <div class="time-box">
                <div class="time-box-date">
                    {{ date | date : 'dd.MM.yyyy' }}<span>{{ daysOfWeek[date.getDay()] }}</span>
                </div>
                <div class="time-box-time">{{ date | date : 'HH:mm:ss' }}</div>
            </div>
            <div class="view-box">
                <ul>
                    <li>
                        <a ng-click="setViewMode(0)" ng-class="{'active': currentQuadrator.mode == 0}" class="onestream"></a>
                    </li>
                    <li>
                        <a ng-click="setViewMode(1)" ng-class="{'active': currentQuadrator.mode == 1}" class="twostreams"></a>
                    </li>
                    <li>
                        <a ng-click="setViewMode(2)" ng-class="{'active': currentQuadrator.mode == 2}" class="fourstreams"></a>
                    </li>
                    <li>
                        <a ng-click="setViewMode(3)" ng-class="{'active': currentQuadrator.mode == 3}" class="manystreams"></a>
                    </li>
                    <!-- li>
                        <a ng-click="setViewMode(4)" ng-class="{'active': currentQuadrator.mode == 4}" class="fivestreams"></a>
                    </li -->
                </ul>
            </div>

            <div class="camera-choose-box" ng-show="withAnalysis">
                <span class="title-collection">Уровень опасности</span>
                <div ng-select
                     ng-model-list="displayingList"
                     ng-select-options="{class: 'select-1', label: 'label', value: 'value'}"
                     ng-model="filters.confidence"></div>
            </div>

            <!-- Скорость видео -->
            <div class="camera-choose-box">
                <span class="title-collection">Скорость видео</span>
                <div ng-select
                     ng-model-list="speedOptionsList"
                     ng-select-options="{class: 'select-1', label: 'label', value: 'value'}"
                     ng-model="selectedOptions.speed"></div>
            </div>

            <!-- События --><br/>
            <div class="toolbox-fieldset" ng-show="withAnalysis">
                <div class="toolbox-check-box">
                    <input type="checkbox"
                           ng-disabled="!currentUser.is_organization_admin"
                           id="noevents_event" ng-model="filters.noevents" ng-change="applyFilters()">
                    <label for="noevents_event"><span class="event noevents"></span>Без событий</label>
                </div>

                <div class="toolbox-check-box">
                    <input
                            ng-disabled="!currentUser.is_organization_admin"
                            type="checkbox" id="motion_event" ng-model="filters.motion" ng-change="applyFilters()">
                    <label for="motion_event"><span class="event motion"></span>Движение в зоне</label>
                </div>
                <div class="toolbox-check-box">
                    <input
                            ng-disabled="!currentUser.is_organization_admin"
                            type="checkbox" id="leave_object_event" ng-model="filters.leave_object" ng-change="applyFilters()">
                    <label for="leave_object_event"><span class="event leave_object"></span>Оставленный предмет</label>
                </div>
                <div class="toolbox-check-box">
                    <input
                            ng-disabled="!currentUser.is_organization_admin"
                            type="checkbox" id="velocity_event" ng-model="filters.velocity" ng-change="applyFilters()">
                    <label for="velocity_event"><span class="event velocity"></span>Скорость движения</label>
                </div>
                <div class="toolbox-check-box">
                    <input
                            ng-disabled="!currentUser.is_organization_admin"
                            type="checkbox" id="wrong_direction_event" ng-model="filters.wrong_direction" ng-change="applyFilters()">
                    <label for="wrong_direction_event"><span class="event wrong_direction"></span>Вектор движения</label>
                </div>
                <div class="toolbox-check-box">
                    <input
                            ng-disabled="!currentUser.is_organization_admin"
                            type="checkbox" id="calibration_error" ng-model="filters.calibration_error" ng-change="applyFilters()">
                    <label for="calibration_error"><span class="event calibration_error"></span>Ошибка калибровки</label>
                </div>
                <div class="toolbox-check-box">
                    <input
                            ng-disabled="!currentUser.is_organization_admin"
                            type="checkbox" id="many_people" ng-model="filters.many_people" ng-change="applyFilters()">
                    <label for="many_people"><span class="event many_people"></span>Толпа</label>
                </div>
            </div>

            <!--<button ng-click="toggleCuteMode()" type="button">Вырезать</button>-->

        </div>



        <div class="video-controlls">
            <div ng-repeat="vd in currentQuadrator.cameras track by $index">
                <div style="margin-top: -2px;">
                    <span class="event false bigger">{{ vd.events.falses || 0 }}</span>
                    <span class="event noreact bigger">{{ vd.events.noreacts || 0 }}</span>
                    <span class="event ealert bigger">{{ vd.events.alerts || 0 }}</span>
                </div>
                <div class="right-controls">
                    <div class="starttime"></div>
                    <div class="endtime">
                        <a target="_blank"
                           ng-if="currentUser.is_organization_admin"
                           ng-href="{{vd.video.src}}" class="download-button" style="margin-left: 10px;">
                            <img src="/static/images/download-arrow.png">
                        </a>
                    </div>
                    <div class="progressbar">
                        <span class="arrow left" ng-click="prevTimeRange()"></span>
                        <div class="line" ng-video-line="vd">
                            <img class="slider" src="/static/images/slider.png">
                            <div class="events-list-line">
                                <span
                                        ng-repeat="event in vd.events.events track by $index"
                                        ng-if="event.isVisible && !event.invisible"
                                        class="event line-e"
                                        ng-style="{left: event.eventLinePosition + 'px'}"
                                        ng-class="event.eventLineType">
                                    <span class="event-size" ng-style="{width: event.eventLineWidth + 'px'}"></span>
                                    <span class="event-tooltip">{{ event.eventLineDescription.description }}</span>
                                </span>
                            </div>
                        </div>
                        <div class="line cute-line" ng-if="pageStateParams.cuteMode" ng-cute-line>
                            <div class="events-list-line">
                                <div class="cute-line-limit" data-limit="left"></div>
                                <div class="cute-line-limit" data-limit="right"></div>
                            </div>
                        </div>
                        <span class="arrow right" ng-click="nextTimeRange()"></span>
                    </div>
                    <div class="timing">
                        <div ng-if="$last">
                            <div ng-repeat="timemark in timeMarks track by $index" class="timemark">
                                <div class="mark"></div>
                                <br>
                                <div class="time">{{ !$even ? timemark : '' }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
