<section class="main statistics-container" ng-class="{'in-loading': sendForm}">
    <div class="container clearfix">
        <div class="slider-main">
            <div class="table">

                <div class="table-left" ng-class="{'without-analize': selectedCamera.analysis == 1}">
                    <div class="ng-decorate-scroll" ng-decorate-scroll id="datesList">
                        <ul class="dates-list">
                            <li ng-repeat="eventDay in eventsList">
                                <div ng-if="selectedCamera.analysis != 1">
                                    <span class="event false border bigger">{{eventDay.efalse}}</span>
                                    <span class="event noreact border bigger">{{eventDay.noreacts}}</span>
                                    <span class="event ealert border bigger">{{eventDay.alerts}}</span>
                                </div><br/>
                                {{eventDay.date | date: "dd.MM.yyyy"}} <br> {{eventDay.date | date: "EEE"}}
                            </li>
                        </ul>
                    </div>
                </div>
                <!--ng-class="{'without-analize': selectedCamera.analysis == 1}"-->
                <div class="table-main">
                    <div class="table-main-container">
                        <div class="ng-decorate-scroll" id="eventsList">
                            <div ng-repeat="eventDay in eventsList" class="table-main-row">
                                <ul>
                                    <li ng-repeat="decade in eventDay.events" ng-if="decade.isVisible">
                                        <span>{{decade.start.replace('-', ':')}}</span>
                                        <div class="preview">
                                            <div class="events-v-panel">
                                                <span class="event false border bigger" ng-show="decade.efalse">{{decade.efalse}}</span>
                                                <span class="event noreact border bigger" ng-show="decade.noreacts">{{decade.noreacts}}</span>
                                                <span class="event ealert border bigger" ng-show="decade.alerts">{{decade.alerts}}</span>
                                            </div>
                                            <a target="_blank" href="{{selectedCamera.archive_url}}{{decade.archivePostfix}}"
                                               ng-if="currentUser.is_organization_admin"
                                               class="download-button">
                                                <img ng-src="/static/images/download-arrow.png">
                                            </a>
                                            <a ui-sref="main.base.recordsPlayer({post: '{{decade.archivePostfix.split('.')[0]}}', filters: '{{filters}}'})">
                                                <img ng-src="{{selectedCamera.info_url}}/thumbbyid.jpg?id={{decade.id}}&type=0&scale=20">
                                            </a>
                                        </div>
                                        <a  ui-sref="main.base.recordsPlayer({post: '{{decade.archivePostfix.split('.')[0]}}', filters: '{{filters}}'})"
                                           class="stat-analize">
                                            <img ng-src="{{selectedCamera.info_url}}/thumbbyid.jpg?id={{decade.id}}&type=2&scale=100">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="slider-main-tools">

            <!--Дата-->
            <div class="toolbox-fieldset">
                <label>Дата</label>
                <fieldset>
                    <span class="toolbox-range-title">от</span>
                    <div class="datepicker">
                        <input type="text" class="text-field"
                               readonly
                               ng-date-picker="startDateOptions"
                               ng-model="startDate">
                    </div>
                </fieldset>
                <fieldset>
                    <span class="toolbox-range-title">до</span>
                    <div class="datepicker">
                        <input type="text" class="text-field"
                               readonly
                               ng-date-picker="endDateOptions"
                               ng-model="endDate">
                    </div>
                </fieldset>
            </div>

            <!--Время-->
            <div class="toolbox-fieldset">
                <label>Время</label>
                <fieldset>
                    <span class="toolbox-range-title">от</span>
                    <div ng-select
                         ng-model-list="timesList"
                         ng-select-options="{class: 'select-2'}"
                         ng-model="startTime"></div>
                </fieldset>
                <fieldset>
                    <span class="toolbox-range-title">до</span>
                    <div ng-select
                         ng-model-list="timesList"
                         ng-select-options="{class: 'select-2'}"
                         ng-model="endTime"></div>
                </fieldset>
            </div>

            <!-- Важность событий -->
            <div class="toolbox-fieldset">
                <label>Уровень опасности</label>
                <fieldset>
                    <div ng-select
                         ng-model-list="displayingList"
                         ng-select-options="{class: 'select-2', label: 'label', value: 'value'}"
                         ng-model="confidence"></div>
                </fieldset>
            </div>

            <!-- Камера -->
            <div class="toolbox-fieldset">
                <label>Камера</label>
                <div class="cameras-categories-container stat-cameras-select">
                    <span class="camera-name"
                          ng-click="showedCategoriesList = !showedCategoriesList">
                        <span class="camera-name-title with-analize-icon {{cameraModel['analysis-icon']}}">
                            <span class="camera-name-title-text" title="{{ cameraModel.group.name + ' - '+ cameraModel.name }}">
                                {{ cameraModel.name }}
                            </span>
                        </span>
                    </span>
                    <div class="cameras-categories-list" ng-if="showedCategoriesList">
                        <ul class="categories-drop-list">
                            <li ng-repeat="group in userCameras.groups"
                                class="categories-drop-item"
                                ng-class="{'active-group': group.active}">
                                <span class="categories-drop-item-name" ng-click="activateGroup(group)">{{group.name}}</span>
                                <ul class="categories-drop-cameras-list">
                                    <li ng-repeat="cameraItem in group.cameras"
                                        ng-click="setCameraModel(cameraItem);"
                                    >
                                        <span class="categories-drop-cameras-item-name with-analize-icon {{cameraItem['analysis-icon']}}">{{cameraItem.name}}</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <!-- События -->
            <div class="toolbox-fieldset">
                <label>Выводить</label>
                <div class="toolbox-check-box">
                    <input type="checkbox"
                           id="noevents_event" ng-model="filters.noevents" ng-change="applyFilters()">
                    <label for="noevents_event"><span class="event noevents"></span>Без событий</label>
                </div>
                <div class="toolbox-check-box">
                    <input
                            type="checkbox" id="false_event" ng-model="filters.false" ng-change="applyFilters()">
                    <label for="false_event"><span class="event false"></span>Ложные события</label>
                </div>
                <div class="toolbox-check-box">
                    <input
                            type="checkbox" id="noreact_event" ng-model="filters.noreact" ng-change="applyFilters()">
                    <label for="noreact_event"><span class="event noreact"></span>События без реакции</label>
                </div>
                <div class="toolbox-check-box">
                    <input
                            type="checkbox" id="alert_event" ng-model="filters.alerts" ng-change="applyFilters()">
                    <label for="alert_event"><span class="event ealert"></span>Запомненные события</label>
                </div>
                <div class="toolbox-check-box">
                    <input
                            type="checkbox" id="motion_event" ng-model="filters.motion" ng-change="applyFilters()">
                    <label for="motion_event"><span class="event motion"></span>Движение в зоне</label>
                </div>
                <div class="toolbox-check-box">
                    <input
                            type="checkbox" id="leave_object_event" ng-model="filters.leave_object" ng-change="applyFilters()">
                    <label for="leave_object_event"><span class="event leave_object"></span>Оставленный предмет</label>
                </div>
                <div class="toolbox-check-box">
                    <input
                            type="checkbox" id="velocity_event" ng-model="filters.velocity" ng-change="applyFilters()">
                    <label for="velocity_event"><span class="event velocity"></span>Скорость движения</label>
                </div>
                <div class="toolbox-check-box">
                    <input
                            ng-disabled="!currentUser.is_organization_admin"
                            type="checkbox" id="wrong_direction_event" ng-model="filters.wrong_direction" ng-change="applyFilters()">
                    <label for="wrong_direction_event"><span class="event wrong_direction"></span>Вектор движения</label>
                </div>
                <div class="toolbox-check-box">
                    <input
                            type="checkbox" id="calibration_error" ng-model="filters.calibration_error" ng-change="applyFilters()">
                    <label for="calibration_error"><span class="event calibration_error"></span>Ошибка калибровки</label>
                </div>

                <div class="toolbox-check-box">
                    <input
                            type="checkbox" id="many_people" ng-model="filters.many_people" ng-change="applyFilters()">
                    <label for="many_people"><span class="event many_people"></span>Толпа</label>
                </div>
            </div>
            <div class="toolbox-fieldset toolbox-submit-filter">
                <button class="submit-button" ng-click="getStatistic()">Применить</button>
            </div>
        </div>
    </div>
</section>


<!-- section class="main">
    <div class="container clearfix">

    </div>
</section -->
