<div class="container">

    <a href="/" class="logo">
        <img src="/static/images/logo.png">
    </a>

    <nav ng-include="'/static/templates/common/main-menu.html'"
         ng-controller="mainMenuController"></nav>

    <div class="user">
        <span class="user-name">{{currentUser.is_organization_admin ? 'Начальник' : 'Сотрудник'}} охраны</span>
        <a ui-sref="logout">Выйти</a>
    </div>

    <div class="view-box float-right">
        <ul>
            <li>
                <a class="minimize-stream" ng-click=pageScope.removeFullScreenMode()>
                    <img src="/static/images/305.svg"/>
                </a>
            </li>
        </ul>
    </div>
    <div class="view-box float-right">
        <ul>
            <li>
                <a ng-click="pageScope.setViewMode(0)" ng-class="{'active': pageScope.currentQuadrator.mode == 0}" class="onestream"></a>
            </li>
            <li>
                <a ng-click="pageScope.setViewMode(2)" ng-class="{'active': pageScope.currentQuadrator.mode == 2}" class="fourstreams"></a>
            </li>
            <li>
                <a ng-click="pageScope.setViewMode(3)" ng-class="{'active': pageScope.currentQuadrator.mode == 3}" class="manystreams"></a>
            </li>
            <li>
                <a ng-click="pageScope.setViewMode(4)" ng-class="{'active': pageScope.currentQuadrator.mode == 4}" class="fivestreams"></a>
            </li>
            <li>
                <a ng-click="pageScope.setViewMode(5)" ng-class="{'active': pageScope.currentQuadrator.mode == 5}" class="supermode"></a>
            </li>
        </ul>
    </div>
    <div class="cameras-select-container float-right" ng-if="pageScope.headerQuadratorsSelectParams">
        <div ng-show="pageScope.camerasCollectionList.length"
             ng-select
             ng-model="pageScope.camerasCollection"
             ng-model-list="pageScope.camerasCollectionList"
             ng-select-options="pageScope.headerQuadratorsSelectParams"></div>
        <div ng-show="currentProfile.admin"
             ng-select
             ng-model="pageScope.quadratorsEditModel"
             ng-model-list="pageScope.getQuadratorsEditList()"
             ng-select-options="{label: 'label', class: 'settings-select select-1'}"
        ></div>
    </div>
</div>